


error_log /etc/nginx/logs/erro.log;
log_not_found on;


server { 
    listen 90;
    server_name localhost;

    location ~ ^([^/].*)([^/])$ {
        return 301 $1$2/;
    }

    location /api/services-info {
        alias /var/www/html/;
        add_header Content-Type application/json;
        try_files services-info.json =404;
    }

    location /api/status/ {
        add_header Content-Type application/json;
        return 200 '{"status": "sucesso", "mensagem": "Servidor online"}';
    }
}