error_log /var/log/nginx/error.log debug;


upstream apps {
    server app-super-foda-1:90;
    server app-super-foda-2:90;
}

server {
    listen 90;
    server_name localhost;

    location / {
        root /var/www/html;
        index index.html;
    }

    location /aleatorio/ {
        proxy_ignore_client_abort off;
        proxy_pass http://apps/;
    }
    
    location /app1/ {
        proxy_pass http://app-super-foda-1:90/;
    }
    
    location /app2/ {
        proxy_pass http://app-super-foda-2:90/;
    }
}
