
server {
    listen       ${NGINX_PORT};

    location / {
       root /var/www/html;
       index index.html; 
    }

    location /herestoyou {
        return https://www.youtube.com/watch?v=R4xWbRBLj2I;
    }
}