error_log /etc/nginx/logs/erro.log;

server {
    listen 90;
    server_name localhost;

    
    location / {
        root /var/www/html;
        index index.html;
    }


    add_header X-App "app-super-foda-2" always;
}